# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
oglrenderer/.vs/oglrenderer/v16/.suo
*.db
*.ipch
*.opendb
*.ilk
*.log
*.pdb
*.tlog
*.idb
*.user
*.iobj
*.ipdb
oglrenderer/x64/Debug/oglrenderer.exe
oglrenderer/x64/Release/oglrenderer.exe
oglrenderer/.vs/oglrenderer/v16/Browse.VC.db-wal
oglrenderer/.vs/oglrenderer/v16/Browse.VC.db-shm
oglrenderer/x64/Debug/oglrenderer.vcxproj.FileListAbsolute.txt
oglrenderer/x64/Debug/vc142.ib_pdb_index
oglrenderer/x64/Debug/oglrenderer.exe.recipe
oglrenderer/x64/Release/oglrenderer.exe.recipe
oglrenderer/x64/Release/oglrenderer.vcxproj.FileListAbsolute.txt
oglrenderer/x64/Release/vc142.ib_pdb_index
