# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
oglrenderer/.vs/oglrenderer/v16/.suo
*.db
*.ipch
*.opendb
*.ilk
*.log
*.pdb
*.tlog
*.idb
*.user
*.iobj
*.ipdb
oglrenderer/x64/Debug/oglrenderer.exe
oglrenderer/x64/Release/oglrenderer.exe
oglrenderer/.vs/oglrenderer/v16/Browse.VC.db-wal
oglrenderer/.vs/oglrenderer/v16/Browse.VC.db-shm
oglrenderer/x64/Debug/oglrenderer.vcxproj.FileListAbsolute.txt
oglrenderer/x64/Debug/vc142.ib_pdb_index
oglrenderer/x64/Debug/oglrenderer.exe.recipe
oglrenderer/x64/Release/oglrenderer.exe.recipe
oglrenderer/x64/Release/oglrenderer.vcxproj.FileListAbsolute.txt
oglrenderer/x64/Release/vc142.ib_pdb_index
oglrenderer/Debug/main.obj
oglrenderer/Release/main.obj
oglrenderer/x64/Debug/ArHosekSkyModel.obj
oglrenderer/x64/Debug/imgui.obj
oglrenderer/x64/Debug/imgui_demo.obj
oglrenderer/x64/Debug/imgui_draw.obj
oglrenderer/x64/Debug/imgui_impl_glut.obj
oglrenderer/x64/Debug/imgui_impl_opengl3.obj
oglrenderer/x64/Debug/imgui_impl_win32.obj
oglrenderer/x64/Debug/imgui_tables.obj
oglrenderer/x64/Debug/imgui_widgets.obj
oglrenderer/x64/Debug/main.obj
oglrenderer/x64/Debug/renderer.obj
oglrenderer/x64/Release/ArHosekSkyModel.obj
oglrenderer/x64/Release/imgui.obj
oglrenderer/x64/Release/imgui_demo.obj
oglrenderer/x64/Release/imgui_draw.obj
oglrenderer/x64/Release/imgui_impl_glut.obj
oglrenderer/x64/Release/imgui_impl_opengl3.obj
oglrenderer/x64/Release/imgui_impl_win32.obj
oglrenderer/x64/Release/imgui_tables.obj
oglrenderer/x64/Release/imgui_widgets.obj
oglrenderer/x64/Release/main.obj
oglrenderer/x64/Release/renderer.obj
